registry="https://registry.npmmirror.com/"
sass_binary_site="https://registry.npmmirror.com/node-sass/"
phantomjs_cdnurl="http://cnpmjs.org/downloads"
electron_mirror="https://registry.npmmirror.com/electron/"
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
profiler_binary_host_mirror="https://registry.npmmirror.com/node-inspector/"
chromedriver_cdnurl="https://cdn.npm.taobao.org/dist/chromedriver"
sharp_binary_host="https://registry.npmmirror.com/sharp"
sharp_libvips_binary_host="https://registry.npmmirror.com/sharp-libvips"
